<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/jquery-ui.min.js"></script>
<script src="/dist/js/popper.min.js"></script>
<script src="/dist/js/tooltip.min.js"></script>
<script src="/dist/js/bootstrap.min.js">/* bootstrap required jQuery and popperjs. */</script>
<script src="/dist/js/client.min.js"></script>
<script src="/dist/js/moment.min.js"></script>
<!--
<script src="/dist/js/handlebars.min.js"></script>
<script src="/dist/js/howler.min.js"></script>
<script src="/dist/js/jquery-handlebars.min.js"></script>
<script src="/dist/js/knockout.min.js"></script>
<script src="/dist/js/pouchdb.min.js"></script>
<script src="/dist/js/pace.min.js"></script>
<script src="/dist/js/wow.min.js"></script>
<script src="/dist/js/preloadjs-NEXT.min.js"></script>
<script src="/dist/js/highcharts.min.js"></script>

<script src="dist/jszip.min.js"></script>
<script src="dist/pdfmake.min.js"></script>
<script src="dist/vfs_fonts.js"></script>
<script src="dist/js/jquery.dataTables.min.js"></script>
<script src="dist/js/dataTables.bootstrap4.min.js"></script>
<script src="dist/js/dataTables.autoFill.min.js"></script>
<script src="dist/js/autoFill.bootstrap4.min.js"></script>
<script src="dist/js/dataTables.buttons.min.js"></script>
<script src="dist/js/buttons.bootstrap4.min.js"></script>
<script src="dist/js/buttons.colVis.min.js"></script>
<script src="dist/js/buttons.html5.min.js"></script>
<script src="dist/js/buttons.print.min.js"></script>
<script src="dist/js/dataTables.colReorder.min.js"></script>
<script src="dist/js/dataTables.fixedColumns.min.js"></script>
<script src="dist/js/dataTables.fixedHeader.min.js"></script>
<script src="dist/js/dataTables.keyTable.min.js"></script>
<script src="dist/js/dataTables.responsive.min.js"></script>
<script src="dist/js/responsive.bootstrap4.min.js"></script>
<script src="dist/js/dataTables.rowGroup.min.js"></script>
<script src="dist/js/dataTables.rowReorder.min.js"></script>
<script src="dist/js/dataTables.scroller.min.js"></script>
<script src="dist/js/dataTables.select.min.js"></script>

<script src="/dist/js/simplebar.min.js"></script>
<script src="/dist/js/jquery-orgchart.min.js"></script>
-->
<script src="/dist/js/riot.min.js"></script>

<script src="/lib/js/tags.js"></script>
<script src="{{baseUrl}}/app.js"></script>
