/* Constant */

$ide-font-size: 0.75em;
$label-min-width: 70px;
$hotspot-size: 9px;
$hotspot-background: royalblue;
$hotspot-border-radius: 50%;
$hotspot-border: 1px dotted cornflowerblue;
$hotspot-select-border: 2px dotted red;

/* IDE Style */

.ide-style-property {
    display: block;
    font-size: $ide-font-size;
}

.ide-style-property label {
    min-width: $label-min-width;
    text-align: right;
}

.design-object {
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
/*
.design-object:hover {
    background: rgba(40, 85, 220, 0.8);
}
*/
.design-object .hs-nw {
    position: absolute;
    left: -4px;
    top: -4px;
    width: $hotspot-size;
    height: $hotspot-size;
    background: $hotspot-background;
    border: $hotspot-border;
    border-radius: $hotspot-border-radius;
    cursor: nw-resize;
    z-index: 50;
}

.design-object .hs-ne {
    position: absolute;
    right: -4px;
    top: -4px;
    width: $hotspot-size;
    height: $hotspot-size;
    background: $hotspot-background;
    border: $hotspot-border;
    border-radius: $hotspot-border-radius;
    cursor: ne-resize;
    z-index: 50;
}

.design-object .hs-sw {
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: $hotspot-size;
    height: $hotspot-size;
    background: $hotspot-background;
    border: $hotspot-border;
    border-radius: $hotspot-border-radius;
    cursor: sw-resize;
    z-index: 50;
}

.design-object .hs-se {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: $hotspot-size;
    height: $hotspot-size;
    background: $hotspot-background;
    border: $hotspot-border;
    border-radius: $hotspot-border-radius;
    cursor: se-resize;
    z-index: 50;
}

.design-object .hs-select {
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border: $hotspot-select-border;
    cursor: pointer;
    z-index: 40;
}